@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Spartan", sans-serif;
}

body .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'info' 'rating' 'comments';
  padding: 25px;
  margin: 50px 0;
}

body .container .product-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  text-align: center;
  margin-bottom: 32px;
}

body .container .product-info .title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
  color: #502050;
}

body .container .product-info .description {
  font-size: 14px;
  color: #937b92;
}

body .container .product-rating {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: rating;
  text-align: center;
  margin-bottom: 32px;
}

body .container .product-rating .rating {
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #f7f2f7;
}

body .container .product-rating .rating .stars {
  margin-bottom: 8px;
}

body .container .product-rating .rating .rating-desc {
  color: #502050;
  font-weight: 700;
}

body .container .buyers-comments {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: comments;
}

body .container .buyers-comments .comment {
  background-color: #502050;
  color: white;
  margin-bottom: 16px;
  padding: 32px 26px;
  border-radius: 10px;
}

body .container .buyers-comments .comment .buyer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

body .container .buyers-comments .comment .buyer-info .buyer-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

body .container .buyers-comments .comment .buyer-info .personal .name {
  margin-bottom: 4px;
  font-weight: 700;
}

body .container .buyers-comments .comment .buyer-info .personal .status {
  color: #ee68a4;
  font-weight: 400;
}

body .container .buyers-comments .comment .buyer-comment {
  line-height: 25px;
}

@media only screen and (min-width: 1440px) {
  body {
    height: 100vh;
  }
  body .container {
        grid-template-areas: 'info rating' 'comments comments';
    width: 80%;
    height: 80%;
  }
  body .container .product-info {
    text-align: left;
    padding-right: 25%;
  }
  body .container .product-info .title {
    font-size: 3em;
    letter-spacing: -1px;
  }
  body .container .product-info .description {
    font-size: 1em;
    line-height: 25px;
    letter-spacing: -1px;
    padding-right: 10px;
  }
  body .container .product-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .product-rating .rating {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
  }
  body .container .product-rating .rating .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .product-rating .left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  body .container .product-rating .right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  body .container .buyers-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
    margin: 30px 0;
    font-size: small;
  }
  body .container .buyers-comments .comment:nth-child(1) {
    position: relative;
    bottom: 15px;
  }
  body .container .buyers-comments .comment:nth-child(3) {
    position: relative;
    top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */